## tuple
- fixed-length
- immutable

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [3]:
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

Unpacking tuples

In [4]:
tup = (4, 5, 6)
a, b, c = tup
b

5

Iteration

In [5]:
seq = [( 1, 2, 3), ( 4, 5, 6), ( 7, 8, 9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Tuple methods

In [6]:
tup = (1, 2, 2, 2, 3, 4, 5, 6)
tup.count(2)

3

In [7]:
tup[1]

2

zip

In [8]:
tup1 = tuple(['foo', 'bar'])
tup2 = tuple(['one', 'two'])
tuple(zip(tup1, tup2))

(('foo', 'one'), ('bar', 'two'))

## List
- variable-length
- can be modified in place
- `list`, `[]`

Convert a tuple to list

In [9]:
tup = ('foo', 'bar')
list(tup)

['foo', 'bar']

In [10]:
type(tup)

tuple

In [11]:
type(list(tup))

list

Adding elements

In [12]:
a_list = list(tup)
a_list

['foo', 'bar']

In [13]:
a_list.append('new')
a_list

['foo', 'bar', 'new']

In [14]:
a_list.insert(1, 'red')
a_list

['foo', 'red', 'bar', 'new']

Removing elements

In [15]:
a_list.pop(2)

'bar'

In [16]:
a_list

['foo', 'red', 'new']

In [17]:
a_list.remove('foo')
a_list

['red', 'new']

Check if a list contains a value using the `in` keyword

In [18]:
'red' in a_list

True

In [19]:
'red' not in a_list

False

Concatenating & combining lists

In [20]:
[4, None, 'bar'] + ['foo', 2, (6, 2)]

[4, None, 'bar', 'foo', 2, (6, 2)]

In [21]:
x = [4, None, 'bar']
x.extend(['new', 'bar']) # faster than '+'
x

[4, None, 'bar', 'new', 'bar']

Sorting

In [22]:
a = [7, 4, 8, 2, 5]
a.sort()
a

[2, 4, 5, 7, 8]

In [23]:
a = [7, 4, 8, 2, 5]
sorted(a)

[2, 4, 5, 7, 8]

Slicing

In [24]:
seq = [7, 1, 3, 6, 2, 8, 9, 12, 16]

In [25]:
seq[1:3]

[1, 3]

In [26]:
seq[1:]

[1, 3, 6, 2, 8, 9, 12, 16]

In [27]:
seq[:3]

[7, 1, 3]

In [28]:
seq[-3:-1]

[9, 12]

In [29]:
seq[-3:]

[9, 12, 16]

In [30]:
seq[:-2]

[7, 1, 3, 6, 2, 8, 9]

In [31]:
seq[::-1]

[16, 12, 9, 8, 2, 6, 3, 1, 7]

In [32]:
seq[::2]

[7, 3, 2, 9, 16]

Iteration

In [33]:
for i in seq:
    print(i)

7
1
3
6
2
8
9
12
16

In [34]:
for i, c in enumerate(seq):
    print(i, c)

0 7
1 1
2 3
3 6
4 2
5 8
6 9
7 12
8 16

Zip

In [35]:
seq1 = ['foo', 'bar']
seq2 = ['one', 'two']
list(zip(seq1, seq2))

[('foo', 'one'), ('bar', 'two')]

In [36]:
# simultaneously iterate over multiple sequences
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two

In [37]:
# unzip
pitchers = [('Nolan', 'Ryan'), ('Schilling', 'Curt')]
first_name, last_name = zip(*pitchers)
print('first_name:', first_name)
print('last_name:', last_name)

first_name: ('Nolan', 'Schilling')
last_name: ('Ryan', 'Curt')

Reversed

In [38]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [39]:
d1 = {'a': 1, 'b': 2}
d1

{'a': 1, 'b': 2}

In [40]:
d1['b']

2

In [41]:
'a' in d1

True

Add a new key

In [42]:
d1[7] = 'seven'
d1

{'a': 1, 'b': 2, 7: 'seven'}

Update value & add new key

In [43]:
d1.update({'b':'new b value', 'c':12})
d1

{'a': 1, 'b': 'new b value', 7: 'seven', 'c': 12}

Delete key

In [44]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{'a': 1,
 'b': 'new b value',
 7: 'seven',
 'c': 12,
 5: 'some value',
 'dummy': 'another value'}

In [45]:
del d1[5]
d1

{'a': 1, 'b': 'new b value', 7: 'seven', 'c': 12, 'dummy': 'another value'}

In [46]:
ret = d1.pop('dummy')
print('ret:', ret)
print(d1)

ret: another value
{'a': 1, 'b': 'new b value', 7: 'seven', 'c': 12}

Creating dicts from sequences