# Python for loop

Reference:
- For loops:
    <https://wiki.python.org/moin/ForLoop>

In [1]:
import numpy as np
import pandas as pd

## Loop over a range

In [2]:
for x in range(0, 7):
    print(x)

0
1
2
3
4
5
6

## Loop over a string

In [3]:
for x in 'Hi, Python':
    print(x)

H
i
,

P
y
t
h
o
n

## Loop over a numpy array

In [4]:
np_height = np.array([3, 21, 4, 54, 23])

In [5]:
for height in np_height:
    print(height)

3
21
4
54
23

The iterator object `nditer` provides many flexible ways to visit all the elements of one or more arrays in a systematic fashion.
https://docs.scipy.org/doc/numpy/reference/arrays.nditer.html#arrays-nditer

In [6]:
for height in np.nditer(np_height):
    print(height)

3
21
4
54
23

## Loop over a list

In [7]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

In [8]:
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

`enumerate` is a built-in function of Python. It allows us to loop over something and have an automatic counter.
http://book.pythontips.com/en/latest/enumerate.html

In [9]:
for counter, value in enumerate(areas):
    print(counter, value)

0 11.25
1 18.0
2 20.0
3 10.75
4 9.5

## Loop over a list of lists

In [10]:
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

In [11]:
for room, area in house:
    print('The ' + str(room) + ' is ' + str(area) + ' sqm.')

The hallway is 11.25 sqm.
The kitchen is 18.0 sqm.
The living room is 20.0 sqm.
The bedroom is 10.75 sqm.
The bathroom is 9.5 sqm.

## Loop over a dictionary

In [12]:
europe = {'Spain': 'Madrid',
          'France': 'Paris',
          'Germany': 'Berlin',
          'Norway': 'Oslo',
          'Italy': 'Rome',
          'Poland': 'Warsaw',
          'Australia': 'Canberra'}

In [13]:
for key, value in europe.items():
    print('The capital of ' + str(key) + ' is ' + str(value) + '.')

The capital of Spain is Madrid.
The capital of France is Paris.
The capital of Germany is Berlin.
The capital of Norway is Oslo.
The capital of Italy is Rome.
The capital of Poland is Warsaw.
The capital of Australia is Canberra.

**Remark:** In Python 3, `dict.items()` returns iterator object. `dict.iteritems()` is removed.

## Loop over a series

In [14]:
ser = pd.Series([4, -7, 2, 1])

In [15]:
for v in ser:
    print(v)

4
-7
2
1

Both `pandas.Series.items` and `pandas.Series.iteritems` lazily iterate over (index, value) tuples.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [16]:
for i, v in ser.items():
    print(i, v)

0 4
1 -7
2 2
3 1

In [17]:
for i, v in ser.iteritems():
    print(i, v)

0 4
1 -7
2 2
3 1

## Loop over a dataframe

In [18]:
df = pd.DataFrame({'state': ['Ohio', 'Ohio', 'Nevada'],
                   'year': [2000, 2001, 2001],
                   'pop': [1.5, 1.7, 3.6]})

`pandas.DataFrame.iterrows` iterates over dataFrame rows as (index, Series) pairs.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html

In [19]:
for i, v in df.iterrows():
    print(i, v)

0 state    Ohio
year     2000
pop       1.5
Name: 0, dtype: object
1 state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object
2 state    Nevada
year       2001
pop         3.6
Name: 2, dtype: object